body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #dfe2e6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  background: #9ec7e0;
  height: 100px;
}

.header-title {
  float: left;
  line-height: 100px;
}

.header-title a {
  text-decoration: none;
}

.header-title h1 {
  margin-bottom: 0;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: #e8ebec;
  font-size: 50px;
  margin-top: 15px;
}

.header-links {
  float: right;
  line-height: 100px;
}

.unused-link {
  display: none;
}

.pre-login-link {
  padding-left: 10px;
}

.header-links a {
  text-decoration: none;
  color: #e8ebec;
  font-size: 16px;
}

.pre-login-link:hover {
  font-weight: bold;
  color: #013144;
}

/* SECTION */

main {
  overflow: auto;
}

main .signup-login {
  height: calc(100vh - 220px);
}

main .signup-login .form-input {
  max-width: 450px;
  height: fit-content;
  overflow: hidden;
  margin: auto;
  padding-top: 50px;
  /* padding-right: 200px; */
}

main .signup-login .form-input h2 {
  width: 100%;
  /* float: right; */
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #013144;
}

main .signup-login .form-input div {
  /* float: right; */
  width: 100%;
  text-align: right;
  /* margin-bottom: 10px; */
}

main .signup-login .form-input div input {
  width: 100%;
  height: 50px;
  border: 1px solid #013144;
  font-size: 18px;
  /* border-radius: 5px; */
  padding-left: 10px;
  color: #013144;
  margin-bottom: 10px;
}

main .signup-login .form-input div label {
  color: #013144;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
}

main .signup-login button {
  /* float: right; */
  margin: 0 auto;
  display: block;
}

.form-button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #e8ebec;
  text-transform: uppercase;
  background-color: #9ec7e0;
  border: 1px solid #9ec7e0;
  /* border-radius: 5px; */
}

/* FOOTER */

footer {
  background-color: #013144;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  /* margin-top: calc(100vh - 643px); */
}

footer p {
  line-height: 100px;
  font-size: 16px;
  color: #e8ebec;
  margin-top: 0;
}

/* CREATE ACCOUNT */

.section {
  /* height: calc(100vh - 200px); */
}

.section .form-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #013144;
}

.create-acc-container {
  max-width: 740px;
  margin: 0 auto;
}

.create-acc-form {
  height: fit-content;
  /* height: calc(100% - 83px); */
  padding-top: 40px;
  max-width: 700px;
  margin: 0 auto;
}

.create-acc-form form {
  margin-bottom: 25px;
  margin-top: 25px;
}

.create-acc-form button.form-button {
  float: none;
  margin: 0 auto;
  display: block;
  width: 50%;
}

/* .form-section {
  margin-top: 20px;
  height: 35%;
  padding: 0 0 0 10px;
} */

/* .form-section {
  margin-top: 20px;
  height: 148px;
  padding: 0 0 0 10px;
} */

.form-section-title {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  color: #013144;
  text-align: left;
}

div.form-field {
  /* width: 50%; */
  height: 30px;
  /* float: left; */
  padding-bottom: 15px;
}

div.form-field .left {
  float: left;
}

div.form-field #form-gender {
  /* width: 40%; */
}

div.form-field #form-gender span {
  /* padding-left: 5px; */
}

div.form-field #form-date {
  /* width: 60%; */
  margin-left: 15px;
}

/* div.form-field input[type="text"],
div.form-field input[type="number"],
div.form-field input[type="tel"] { */
/* float: right; */
/* margin-right: 30px;
  margin-left: 5px;
  width: 220px;
  height: 30px;
  border: 1px solid #dfe2e6;
  border-radius: 5px;
} */

input[type="text"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  height: 50px;
  color: #013144;
  border: 1px solid #013144;
  font-size: 18px;
  /* border-radius: 5px; */
  padding-left: 10px;
  margin-bottom: 10px;
}

div .display-half-div {
  width: 49.2%;
  float: left;
  height: 50px;
  /* border: 1px solid #dfe2e6; */
  /* font-size: 18px; */
  /* border-radius: 5px; */
  /* padding-left: 10px; */
  margin-bottom: 10px;
}

div div .left-side {
  padding-right: 5px;
}

div div .right-side {
  padding-left: 5px;
}

div.form-field input[type="date"] {
  width: 130px;
  height: 30px;
  border: 1px solid #013144;
  /* border-radius: 5px; */
  margin-left: 5px;
}

div.form-field label,
div.form-field #form-gender span {
  color: #013144;
  font-weight: 100;
  line-height: 30px;
  font-size: 14px;
}

div.form-field .left label {
  line-height: 30px;
}

div.form-field .left input[type="radio"] {
  margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 796px) {
  header {
    text-align: center;
  }

  header .header-title {
    float: none;
  }

  header .header-title h1 {
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e8ebec;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 10px;
  }

  header .header-links {
    float: none;
    line-height: 40px;
    text-align: center;
  }

  .pre-login-link {
    padding: 0 10px 0 0;
  }

  main .signup-login .form-input {
    max-width: 450px;
    /* height: 100%; */
    margin: auto;
    padding: 50px 10px 0 10px;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  main .signup-login .form-input div label {
    color: #013144;
    display: block;
    text-align: left;
  }

  main .signup-login {
    overflow: hidden;
  }

  /* CREATE ACCOUNT MEDIA QUERIES */

  .create-acc-form {
    height: fit-content;
    /* height: calc(100% - 83px); */
    padding: 40px 10px 0 10px;
    max-width: 350px;
    margin: 0 auto;
  }

  div .display-half-div {
    width: 100%;
    float: none;
  }

  div div .left-side {
    padding-right: 0;
  }

  div div .right-side {
    padding-left: 0;
  }

  .create-acc-form button.form-button {
    width: 100%;
  }

  .form-section {
    margin: 0 auto;
    max-width: 380px;
    padding: 0 0 0 20px;
    height: 36.48%;
  }

  .form-section-title {
    text-align: center;
  }

  div.form-field {
    min-width: 380px;
  }

  div.form-field input[type="text"],
  div.form-field input[type="number"],
  div.form-field input[type="tel"] {
    margin-right: 40px;
  }

  /* FOOTER */

  /* footer {
    margin-top: calc(100vh - 435px);
  } */
}
