body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #dfe2e6;
}

/* HEADER */

header {
  background: #9ec7e0;
  height: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header .header-title {
  float: left;
  line-height: 100px;
}

header .header-title a {
  text-decoration: none;
}

header .header-title h1 {
  margin-bottom: 0;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: #e8ebec;
  font-size: 50px;
  margin-top: 15px;
}

header .header-links {
  float: right;
  line-height: 100px;
}

.unused-link {
  display: none;
}

.pre-login-link {
  padding-left: 10px;
}

header .header-links a {
  text-decoration: none;
  color: #e8ebec;
  font-size: 16px;
}

header .header-links a:hover {
  font-weight: bold;
  color: #013144;
}

/* SECTION */

main .section {
  height: 467px;
}

main .section .form-input {
  width: 450px;
  height: fit-content;
  overflow: hidden;
  margin: auto;
  padding-top: 50px;
  padding-right: 200px;
}

main .section .form-input h2 {
  width: 250px;
  float: right;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #013144;
}

main .section .form-input div {
  float: right;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

main .section .form-input div input {
  width: 250px;
  height: 30px;
  border: 1px solid #dfe2e6;
  border-radius: 5px;
  padding-left: 5px;
}

main .section .form-input div label {
  color: #013144;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
}

main .section button {
  width: 250px;
  float: right;
  height: 50px;
  font-size: 20px;
  color: #e8ebec;
  text-transform: uppercase;
  background-color: #013144;
  border: 1px solid #013144;
  border-radius: 5px;
}

/* FOOTER */

footer {
  background-color: #013144;
  height: 100px;
  text-align: center;
}

footer p {
  line-height: 100px;
  font-size: 16px;
  color: #e8ebec;
  margin-top: 0;
}

/* CREATE ACCOUNT */

.section .form-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #013144;
  padding-top: 40px;
}

.create-acc-container {
  max-width: 740px;
  margin: 0 auto;
}

.create-acc-form {
  height: calc(100% - 83px);
  padding-top: 10px;
  margin-bottom: 0;
}

.form-section {
  margin-top: 20px;
  height: 35%;
  padding: 0 0 0 10px;
}

.form-section-title {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  color: #013144;
  text-align: left;
}

div.form-field {
  width: 50%;
  float: left;
  padding-bottom: 5px;
}

div.form-field .left {
  float: left;
}

div.form-field #form-gender {
  width: 40%;
}

div.form-field #form-date {
  width: 60%;
}

div.form-field input[type="text"],
div.form-field input[type="number"] {
  float: right;
  margin-right: 30px;
  width: 220px;
  height: 30px;
  border: 1px solid #dfe2e6;
  border-radius: 5px;
}

div.form-field input[type="date"] {
  width: 130px;
  height: 30px;
  border: 1px solid #dfe2e6;
  border-radius: 5px;
}

div.form-field label {
  color: #013144;
  font-weight: 100;
  font-size: 14px;
}

div.form-field .left label {
  line-height: 30px;
}

div.form-field .left input[type="radio"] {
  margin: 0 0 0 5px;
}

/* MEDIA QUERIES */

@media (max-width: 738px) {
  header {
    text-align: center;
  }

  header .header-title {
    float: none;
  }

  header .header-title h1 {
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e8ebec;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 10px;
  }

  header .header-links {
    float: none;
    line-height: 40px;
    text-align: center;
  }

  .pre-login-link {
    padding: 0 10px 0 0;
  }

  main .section .form-input {
    width: 250px;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-right: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  main .section .form-input div label {
    color: #013144;
    display: block;
    text-align: left;
  }

  main .section {
    overflow: hidden;
  }

  /* CREATE ACCOUNT MEDIA QUERIES */

  .section .form-title {
    padding-top: 10px;
  }

  .form-section {
    margin: 0 auto;
    max-width: 380px;
    padding: 0 0 0 20px;
  }

  .form-section-title {
    text-align: center;
  }

  div.form-field {
    min-width: 380px;
  }

  div.form-field input[type="text"],
  div.form-field input[type="number"] {
    margin-right: 20px;
  }
}
